html {
  width: 100%;
}

body {
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
}

.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

.noDrag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
.noDragImg {-webkit-user-drag: none;}

.wrapper {
  position: absolute;
  left: 50%;
  border: solid 0px;
  width: 1034px;
  height: 100%;
  margin-left: -517px;
  margin-top: 0px;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  .wrapper {
    width: 1000px;
    margin-left: -500px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  .wrapper {
    width: 738px;
    margin-left: -369px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  .wrapper {
    width: 394px;
    margin-left: -197px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  .wrapper {
    width: 320px;
    margin-left: -160px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  .wrapper {
    width: 300px;
    margin-left: -150px;
  }
}

/* 예외처리 */
/* @media (min-width:768px) and (orientation: landscape)  {
  .wrapper {
    width: 394px;
    margin-left: -197px;
  }
} */

/* -------------------------------- topBar -------------------------------- */

.topBar {
  /* width: 1200px; */
  width: 100%;
  /* height: 200px; */
  /* font-family: Rubik-Regular; */

  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

.topBarUl li {
  margin-top: 5px;
  display: inline-block;
  vertical-align: middle;
}

.topBarUl li img {
  cursor: pointer;
}

.topBarUl li span {
  cursor: pointer;
  -webkit-tap-highlight-color : rgba(0,0,0,0);
}

.topBarUl li:nth-child(1) { 
  width: 64%;
}

.topBarUl li:nth-child(2) { 
  width: 12%;
  text-align: right;
}

.topBarUl li:nth-child(3) { 
  width: 12%;
  text-align: right;
}

.topBarUl li:nth-child(4) { 
  width: 12%;
  text-align: right;
}

@media (min-width:1034px) {
  .topBarUl li:nth-child(5) { 
    display: none;
  }
}

@media (min-width:1px) and (max-width:1034px) {
  .topBarUl li:nth-child(2) { 
    display: none;
  }
  
  .topBarUl li:nth-child(3) { 
    display: none;
  }
  
  .topBarUl li:nth-child(4) { 
    display: none;
  }
  
  .topBarUl li:nth-child(5) { 
    /* display: none; */
    width: 36%;
    text-align: right;
    color: #fff;
  }
}

.sideMenuCover {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;
  float: left;
  left: 0;
  margin-top: -13px;
}

.sideMenuBox {
  float: right;
  right: 0;
  position: fixed;
  margin-top: -13px;
  width: 70%;
  height: 100%;
  background-color: #262932;
  color: #fff;
  z-index: 1001;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  .sideMenuBox {
    width: 40%;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  .sideMenuBox {
    width: 40%;
  }
}

.closeBtn {
  float: right;
  right: 0;
  margin: 15px;
  cursor: pointer;
}

.sideMenuUl {
  margin-top: 70px;
  margin-left: 24px;
}

.sideMenuUl li {
  margin-top: 24px;
}

.sideMenuUl li span {
  cursor: pointer;
}

hr.sideMenuLine {
  border: 1px solid #3e434e;
  margin-left: -24px;
  margin-top: 24px;
}

.sideMenuIconLabel {
  display: table;
  vertical-align: middle;
  cursor: pointer;
}

.sideMenuIconLabel li {
  display: table-cell;
  vertical-align: middle;
}

.sideMenuIconLabel li img {
  display: table-cell;
  margin-right: 7px;
  cursor: pointer;
  vertical-align: middle;
}

/* -------------------------------- Chart -------------------------------- */

.tvlTitleBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: -5px;
}

.tvlTitleBox li:nth-child(1) {
  float: left;
}

.tvlTitleBox li:nth-child(2) {
  float: right;
}

.tvlSubPageTitleIconLabel {
  display: table;
  vertical-align: middle;
}

.tvlSubPageTitleIconLabel li {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.tvlSubPageTitleIconLabel li img {
  display: table-cell;
  margin-right: 7px;
  vertical-align: middle;
  width: 32px;
}

@media (min-width:1px) and (max-width:1034px) {
  .navBox {
    display: none;
  }

  .tvlSubPageTitleIconLabel li {
    font-size: 16px;
  }
  
  .tvlSubPageTitleIconLabel li img {
    width: 18px;
    margin-right: 5px;
  }
}

.totalValueUl {
  display: flex;
  justify-content: space-between;
  /* justify-content: space-around; */
}

.totalValueUl li {
  /* display: inline-block; */
  /* display: flex; */
  /* justify-content: space-around; */
}

.totalValueUl li:nth-child(1) { 
  /* width: 75%; */
  width: 722px;
}

.totalValueUl li:nth-child(2) { 
  /* width: 25%; */
  width: 250px;
}

.tvlChartCard {
  width: 100%;
  height: 270px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #262932;
  /* padding: 20px; */
  padding: 20px 25px 20px 25px;
}

.tvlChartCard span {
  margin-left: 5px;
}

.tvlChartCard p {
  margin-left: 5px;
  font-weight: 700;
  font-family: "Rubik-Regular", Arial, sans-serif;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .tvlChartCard {
    width: 1000px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 354px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 354px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .tvlChartCard {
    width: 738px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 354px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 354px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .tvlChartCard {
    width: 394px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 354px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 354px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .tvlChartCard {
    width: 320px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 280px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 280px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .tvlChartCard {
    width: 300px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 240px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 240px;
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .tvlChartCard {
    width: 320px;
    height: 310px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .totalValueUl {
    display: list-item;
  }
  
  .totalValueUl li:nth-child(1) {
    width: 280px;
  }
  
  .totalValueUl li:nth-child(2) {
    width: 280px;
  }
} */

/* Link Button */
.tvlLink0 {
  height: 310px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #262932;
  padding-top: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}

.tvlLink {
  height: 310px;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #262932;
  padding-top: 5px;
  padding-left: 15px;
  box-sizing: border-box;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  .tvlLink0 {
    display: none;
  }
  
  .tvlLink {
    /* display: none; */
    height: 68px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  .tvlLink0 {
    display: none;
  }
  
  .tvlLink {
    /* display: none; */
    height: 166px;
  }
}

@media (min-width:1px) and (max-width:767px) {
  .tvlLink0 {
    display: none;
  }
  
  .tvlLink {
    /* display: none; */
    height: 166px;
  }
}

.tvlLinkBox {
  margin-top: 10px;
  width: 216px;
  height: 61px;
  border-radius: 5px;
  border: solid 1px #404752;
  background-color: #20232b;
  cursor: pointer;
}

.tvlLinkBox:hover {
  background-color: #252932;
}

.tvlLinkBoxUl {
  margin: 12px 11px 11px 11px;
  display: flex;
}

.tvlLinkBoxUl li:nth-child(1) {
  /* width: 27%; */
  width: 50px;
}

.tvlLinkBoxUl li:nth-child(2) {
  width: 69%;
  line-height: 13px;
  margin-top: 4px;
}

.linkBoxTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.linkBoxSubTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 10.5px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

.tvlChartCardTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .tvlLink {
    width: 1000px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 980px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .tvlLink {
    width: 738px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 718px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .tvlLink {
    width: 394px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 374px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .tvlLink {
    width: 320px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 290px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .tvlLink {
    width: 300px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 290px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .tvlLink {
    width: 320px;
    box-sizing: border-box;
  }

  .tvlLinkBox {
    width: 290px;
    height: 62px;
    box-sizing: border-box;
  }

  .tvlChartCardTitle {
    font-size: 11px;
  }
} */

.defiDetailPageLink {
  display: list-item;
}

.subPageDefiLinkBox {
  width: 216px;
  height: 40px;
  margin: 8.6px 0 8.6px;
  border-radius: 5px;
  border: solid 1px #404752;
  background-color: #20232b;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}


/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .defiDetailPageLink {
    display: inline-flex;
    /* grid-template-columns: 150px 150px; */
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .defiDetailPageLink {
    display: grid;
    grid-template-columns: 360px 360px;
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .defiDetailPageLink {
    display: grid;
    grid-template-columns: 187px 187px;
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .defiDetailPageLink {
    display: grid;
    grid-template-columns: 150px 150px;
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .defiDetailPageLink {
    display: grid;
    grid-template-columns: 140px 140px;
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .defiDetailPageLink {
    display: grid;
    grid-template-columns: 150px 150px;
  }

  .subPageDefiLinkBox {
    margin: 9px 0 0 0;
  }
} */

/* 이미지 가운데 맞추기 */
.subPageDefiLinkBox img {
  max-width:100%; max-height:100%;
  display:inline-block;
  vertical-align:middle;
  margin-left: 5px;
}

.subPageDefiLinkBox:hover {
  background-color: #252932;
}

.disableBtn {
  /* opacity: 0.4; */
  /* 757F8E */
  cursor: default;
}

.disableBtn:hover {
  background-color: #20232b;
}

.disableBtn img {
  filter:saturate(0%);
  opacity: 0.5;
}

.disableBtn span {
  color: #757F8E;
}

.subPageDefiLinkBoxTitle {
  margin: 2px 0 1px 8px;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}


/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .subPageDefiLinkBox {
    width: 153px;
    height: 40px;
    margin-right: 10px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .subPageDefiLinkBox {
    width: 350px;
    height: 40px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .subPageDefiLinkBox {
    width: 177px;
    height: 40px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .subPageDefiLinkBox {
    width: 140px;
    height: 40px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .subPageDefiLinkBox {
    width: 130px;
    height: 40px;
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .subPageDefiLinkBox {
    width: 140px;
    height: 40px;
  }
} */

.tvlValueUsd {
  margin: auto 0;
  height: 29px;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #ffffff;
}

.tvlChartUnitY {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
  position: absolute;
  z-index: 10;
  margin-top: 3px;
}

@media (min-width:1px) and (max-width:1034px) {
  .tvlChartUnitY {
    /* display: none; */
  }
}

.tvlChartCardUl {
  display: flex;
}

.tvlChartCardUl li:nth-child(1) {
  width: 45%;
}

.tvlChartCardUl li:nth-child(2) {
  width: 55%;
  text-align: right;
}

@media (min-width:1px) and (max-width:1034px) {
  .tvlChartCardUl li:nth-child(1) {
    width: 100%;
  }
  
  .tvlChartCardUl li:nth-child(2) {
    /* display: none; */
    position: absolute;
    right: 25px;
  }
}

.periodBtnSelected {
  margin-left: 18px;
  /* width: 32px; */
  height: 18px;
  border-radius: 5px;
  background-color: #f0b923;
  border: 0;
  outline: 0;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #0e1014;
  /* cursor: pointer; */
}

.periodBtn {
  margin-left: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: transparent !important;
  background-image: none !important;
  border-color: transparent;
  border: 0;
  outline: 0;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #757f8e;
  cursor: pointer;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  .periodBtnSelected {
    margin-top: 26px; 
    margin-left: 3px;
  }

  .periodBtn {
    margin-top: 26px; 
    margin-left: 3px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  .periodBtnSelected {
    margin-top: 26px; 
    margin-left: 3px;
  }

  .periodBtn {
    margin-top: 26px; 
    margin-left: 3px;
  }
}

@media (min-width:1px) and (max-width:767px) {
  .periodBtnSelected {
    margin-top: 26px; 
    margin-left: 3px;
  }

  .periodBtn {
    margin-top: 26px; 
    margin-left: 3px;
  }
}

/* -------------------------------- MiniCard -------------------------------- */

.miniCards {
  margin-top: -3px;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .miniCards {
    margin-top: -22px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .miniCards {
    margin-top: -6px;
  }
}

@media (min-width:1px) and (max-width:767px) {
  .miniCards {
    margin-top: -6px;
  }
}

.miniCardUl {
  display: flex;
  justify-content: space-between;
}

.miniCardUl li {
  /* width: 24%; */
  width: 250px;
}

.miniCardList {
  padding: 15px;
  /* width: 230px; */
  height: 80px;
  border-radius: 5px;
  background-color: #262932;
  box-sizing: border-box;
}

.miniCardTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

.miniCardDataNum {
  margin: auto 0;
  margin-top: 12px;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}



/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .miniCardUl {
    display: inline-flex;
  }
  
  .miniCardUl li {
    width: 242.2px;
    height: 70px;
    margin-bottom: -4px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li {
    margin-right: 10px;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .miniCardUl {
    display: list-item;
  }
  
  .miniCardUl li {
    width: 364px;
    height: 70px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li:nth-child(2) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(4) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(3) {
    clear: both;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .miniCardUl {
    display: list-item;
  }
  
  .miniCardUl li {
    width: 192px;
    height: 70px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li:nth-child(2) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(4) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(3) {
    clear: both;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .miniCardUl {
    display: list-item;
  }
  
  .miniCardUl li {
    width: 155px;
    height: 70px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li:nth-child(2) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(4) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(3) {
    clear: both;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .miniCardUl {
    display: list-item;
  }
  
  .miniCardUl li {
    width: 145px;
    height: 70px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li:nth-child(2) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(4) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(3) {
    clear: both;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .miniCardUl {
    display: list-item;
  }
  
  .miniCardUl li {
    width: 155px;
    height: 70px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .miniCardList {
    float: left; 
    display: inline-block;
    padding: 10px 15px 10px 15px;
  }

  .miniCardUl li:nth-child(2) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(4) {
    margin-left: 10px;
  }

  .miniCardUl li:nth-child(3) {
    clear: both;
  }

  .miniCardTitle {
    font-size: 11px;
  }

  .miniCardDataNum {
    margin-top: 12px;
    font-size: 14px;
  }
} */

/* -------------------------------- Banner -------------------------------- */

.bannerTitle {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  font-weight: 600;
  color: #f0b923;
}

.bannerContent {
  margin: auto 0;
  margin-top: 5px;
  /* font-family: Roboto; */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.bannerAdTextRect {
  position: absolute;
  margin-right: 0;
  width: 30px;
  /* height: 30px; */
  border-radius: 5px;
  /* border: solid 1px #ffffff; */
  text-align: center;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  /* opacity: 0.6; */
  background-color: #000;
  z-index: 9999;
}

.bannerAdText {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  color: rgb(240, 185, 35);
}

.bannerWrapper {
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  margin-top: -3px;
}

.banner {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(to left, #1b2027, #252932);
  cursor: pointer;
  overflow: hidden;
}

.banner img {
  top:0; 
  left: 0;
  width: 100%;
  height: 100%;
}

/* .banner2 {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to left, #1b2027, #252932);
  cursor: pointer;
  overflow: hidden;
}

.banner2 img {
  top:0; 
  left: 0;
  width: 100%;
  height: 100%;
} */



#outbountBanner1 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner2 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner3 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner4 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner5 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner6 {
  margin-top: 0px;
  display:flex;
  transition: all 2s;
  /* position: absolute; */
}

#outbountBanner1.move1 {
  margin-top: -80px;
}

#outbountBanner1.move2 {
  margin-top: -160px;
}

#outbountBanner1.move3 {
  margin-top: -240px;
}

#outbountBanner1.move4 {
  margin-top: -320px;
}

#outbountBanner1.move5 {
  margin-top: -400px;
}

#outbountBanner1.move6 {
  margin-top: -480px;
}

/* #outbountBanner1.move {
  margin-top: -80px;
}

#outbountBanner2.move {
  margin-top: -80px;
}

#outbountBanner3.move {
  margin-top: -80px;
}

#outbountBanner4.move {
  margin-top: -80px;
}

#outbountBanner5.move {
  margin-top: -80px;
}

#outbountBanner6.move {
  margin-top: -80px;
}

#outbountBanner1.slideUpOut {
  margin-top: -80px;
}

#outbountBanner2.slideUpOut {
  margin-top: -80px;
}

#outbountBanner3.slideUpOut {
  margin-top: -80px;
}

#outbountBanner4.slideUpOut {
  margin-top: -80px;
}

#outbountBanner5.slideUpOut {
  margin-top: -80px;
}

#outbountBanner6.slideUpOut {
  margin-top: -80px;
} */

/* iPad Pro */
@media all and (device-width: 1024px) {
  .wrapper {
    width: 1000px;
    margin-left: -500px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  .wrapper {
    width: 738px;
    margin-left: -369px;
  }

  .banner {
    height: 57.1px;
  }

  .banner img {
    height: 57.1px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .banner {
    width: 394px;
    height: 61.5625px;

    /* height: 90px; */
    /* padding: 15px; */
  }

  .bannerTitle {
    font-size: 14px;
  }
  
  .bannerContent {
    font-size: 11px;
  }

  .banner img {
    /* display: none; */
    top:0; 
    left: 0;
    width: 100%;
    height: 100%;
    /* height: 100%; */
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .banner {
    width: 320px;
    height: 50px;
    /* height: 80px; */
    /* padding: 15px; */
  }

  .bannerTitle {
    font-size: 14px;
  }
  
  .bannerContent {
    font-size: 11px;
  }

  .banner img {
    top:0; 
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* display: none; */
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .banner {
    width: 300px;
    height: 46.875px;
    /* padding: 15px; */
  }

  .bannerTitle {
    font-size: 14px;
  }
  
  .bannerContent {
    font-size: 11px;
  }

  .banner img {
    /* display: none; */
  }
}

/* @media (min-width:1px) and (max-width:1034px) {
  .banner {
    width: 320px;
    height: 90px;
    padding: 15px;
  }

  .bannerTitle {
    font-size: 14px;
  }
  
  .bannerContent {
    font-size: 11px;
  }

  .banner img {
    display: none;
  }
} */

/* -------------------------------- Main Table -------------------------------- */

.defiList {
  margin-top: 107px;
  width: 100%;
  /* height: 720px; */
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #262932;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  overflow: auto;
  /* -ms-overflow-style: -ms-autohiding-scrollbar; */
}

@media (min-width:1px) and (max-width:1034px) {
  .defiList {
    /* height: 860px; */
    margin-top: 10px;
    padding: 0px 15px 0px 15px;
  }
}

.defiListTable {
  /* padding: 15px;
  box-sizing: border-box; */
  width: 100%;
  /* border-top: 1px solid #444444; */
  border-collapse: collapse;
}

/* .defiListTable tbody tr {
  cursor: pointer;
}

.defiListTable tbody tr:hover {
  background-color: #1f232b;
} */

.defiListTableTr {
  cursor: pointer;
}

.defiListTableTr:hover {
  background-color: #1f232b;
}

.comingSoon {
  color: #757F8E;
}

.defiListTable th, td {
  height: 38px;
  border-bottom: 1px solid #404752;
  padding: 10px;
  font-family: "Rubik-Regular", Arial, sans-serif;
}

@media (min-width:1px) and (max-width:1034px) {
  .defiListTable th, td {
    padding: 0 10px 0 10px;
  }
}

.tokenImg {
  width: 20px;
}

.defiListTable th:nth-child(2) {
  text-align: right;
}
.defiListTable td:nth-child(2) {
  text-align: right;
  padding-right: 0;
}

.defiListTable th:nth-child(3) {
  text-align: left;
}
.defiListTable td:nth-child(3) {
  text-align: left;
}

.defiListTable th:nth-child(4) {
  text-align: left;
}
.defiListTable td:nth-child(4) {
  text-align: left;
}

.defiListTable th:nth-child(5) {
  text-align: left;
}
.defiListTable td:nth-child(5) {
  text-align: left;
}

.defiListTable th:nth-child(6) {
  text-align: left;
}
.defiListTable td:nth-child(6) {
  text-align: left;
}

.defiListTable th:nth-child(7) {
  text-align: right;
}
.defiListTable td:nth-child(7) {
  text-align: right;
}

.defiListTable th:nth-child(8) {
  text-align: right;
}
.defiListTable td:nth-child(8) {
  text-align: right;
}

.defiListTable th:nth-child(9) {
  text-align: right;
}
.defiListTable td:nth-child(9) {
  text-align: right;
}

.defiListTable th:nth-child(10) {
  text-align: right;
}
.defiListTable td:nth-child(10) {
  text-align: right;
}

/* Mobile Locked */
@media (min-width:1035px) {
  .defiListTable th:nth-child(8) {
    display: none;
  }
  .defiListTable td:nth-child(8) {
    display: none;
  }
}

@media (min-width:1px) and (max-width:1034px) {
  .tokenImg {
    width: 15px;
  }
  
  .defiListTable th:nth-child(2) {
    /* display: none; */

  }
  .defiListTable td:nth-child(2) {
    /* display: none; */
  }

  .defiListTable th:nth-child(4) {
    display: none;
  }
  .defiListTable td:nth-child(4) {
    display: none;
  }

  .defiListTable th:nth-child(5) {
    display: none;
  }
  .defiListTable td:nth-child(5) {
    display: none;
  }

  .defiListTable th:nth-child(6) {
    display: none;
  }
  .defiListTable td:nth-child(6) {
    display: none;
  }

  .defiListTable th:nth-child(7) {
    display: none;
    /* width: 40%; */
  }
  .defiListTable td:nth-child(7) {
    display: none;
    /* width: 40%; */
  }

  .defiListTable th:nth-child(8) {
    display: none;
  }
  .defiListTable td:nth-child(8) {
    display: none;
  }

  .defiListTable th:nth-child(9) {
    white-space:nowrap;
    /* display: none; */
  }
  .defiListTable td:nth-child(9) {
    white-space:nowrap;
    /* display: none; */
  }

  .defiListTable th:nth-child(10) {
    /* display: none; */
  }
  .defiListTable td:nth-child(10) {
    /* display: none; */
  }
}

.defiListTableHead {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #757f8e;
}

.defiListTableBody {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width:1px) and (max-width:1034px) {
  .defiListTableHead {
    font-size: 11.5px;
  }
  
  .defiListTableBody {
    font-size: 11.5px;
    letter-spacing: -0.3px;
  }
}

.defiListTableHeadCell {
  display: table;
  vertical-align: middle;
}

.defiListTableHeadCell li {
  display: table-cell;
}

.defiListTableHeadCell li img {
  display: table-cell;
  margin-left: 3px;
  cursor: pointer;
}

.defiListTableHeadCell li:nth-child(2) {
  vertical-align: middle;
}

.defiListTableHeadCellRight {
  display: table;
  vertical-align: middle;
  float: right;
}

.defiListTableHeadCellRight li {
  display: table-cell;
}

.defiListTableHeadCellRight li img {
  display: table-cell;
  margin-left: 3px;
  cursor: pointer;
}

.defiListTableHeadCellRight li:nth-child(2) {
  vertical-align: middle;
}

@media (min-width:1px) and (max-width:1034px) {
  .defiListTableHeadCellRight li:nth-child(2) {
    display: none;
  }
}

.textGreen {
  /* font-family: Roboto; */
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #37cc6e;
}

.textRed {
  /* font-family: Roboto; */
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ff2745;
}

.applyBtnOnTable {
  border-radius: 5px;
  border: solid 1px #404752;
  background-color: #20232b;
  cursor: pointer;
}

/* -------------------------------- Footer -------------------------------- */

.footer {
  width: 100%;
  height: 100px;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
  text-align: right;
  padding-top: 40px;
}

/* -------------------------------- Detail Page -------------------------------- */

.navBox {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

.navHome {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
  cursor: pointer;
}

.navDefiName {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #f0b923;
}

@media (min-width:1px) and (max-width:1034px) {
  .navHome {
    font-size: 10px;
  }
  
  .navDefiName {
    font-size: 10px;
  }
}

/* .defiDetailPageLink {
  line-height: 1.8;
}

.defiDetailPageLink span {
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
}

.defiDetailPageLink span:hover {
  text-decoration: underline;
} */

.ecoSystemLinkTitle {
  margin-top: 25px;
  font-family: Rubik-Regular;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

.defiOverview {
  display: inline-block;
  margin-top: -3px;
  width: 100%;
  /* height: 262px; */
  /* opacity: 0.8; */
  border-radius: 5px;
  background-color: #171a20;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.defiOverviewTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.defiOverviewContent {
  opacity: 1;
  /* font-family: Roboto; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #9aa0a8;
}

.defiOverviewContent a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width:1px) and (max-width:1034px) {
  .defiOverview {
    margin-top: 0px;
  }
  
  .defiOverviewTitle {
    font-size: 15px;
  }
  
  .defiOverviewContent {
    font-size: 12px;
  }
}

.defiOverviewBr {
  height: 7px;
}

.defiOverviewWebsiteLink {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.defiOverviewWebsiteLinkUl {
  display: table;
  vertical-align: middle;
  cursor: pointer;
}

.defiOverviewWebsiteLinkUl li {
  display: table-cell;
}

.defiOverviewWebsiteLinkUl li img {
  display: table-cell;
  margin-right: 4px;
  cursor: pointer;
}

.defiOverviewWebsiteLinkUl li:nth-child(1) {
  vertical-align: middle;
}

/* -------------------------------- Not Found -------------------------------- */

.notFound {
  margin-top: 50px;
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: #4e4e4e;
}

/* -------------------------------- defiDetailList Table -------------------------------- */

.defiDetailList {
  margin-top: 13px;
  width: 100%;
  /* height: 720px; */
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #262932;
  padding: 15px 30px 15px 30px;

  box-sizing: border-box;
  overflow: auto;
  /* -ms-overflow-style: -ms-autohiding-scrollbar; */
}

@media (min-width:1px) and (max-width:1034px) {
  .defiDetailList {
    /* height: 860px; */
    margin-top: 10px;
    padding: 0 15px 0 15px;
  }
}

.defiDetailListTable {
  /* padding: 15px;
  box-sizing: border-box; */
  width: 100%;
  /* border-top: 1px solid #444444; */
  border-collapse: collapse;
}

/* .defiDetailListTable tbody tr {
  cursor: pointer;
}

.defiDetailListTable tbody tr:hover {
  background-color: #1f232b;
} */

.defiDetailListTable th, td {
  height: 38px;
  border-bottom: 1px solid #404752;
  padding: 10px;
  font-family: "Rubik-Regular", Arial, sans-serif;
}

.defiDetailListTable th:nth-child(1) {
  text-align: left;
}

.defiDetailListTable th:nth-child(2) {
  text-align: right;
}

.defiDetailListTable td:nth-child(2) {
  text-align: right;
}

.defiDetailListTable th:nth-child(3) {
  text-align: right;
}

.defiDetailListTable th:nth-child(4) {
  text-align: right;
}

.defiDetailListTable th:nth-child(5) {
  text-align: right;
}

.defiDetailListTable th:nth-child(6) {
  text-align: right;
}

.defiDetailListTable td:nth-child(1) {
  text-align: left;
}

.defiDetailListTable td:nth-child(2) {
  text-align: right;
}

.defiDetailListTable td:nth-child(3) {
  text-align: right;
}

.defiDetailListTable td:nth-child(4) {
  text-align: right;
}

.defiDetailListTable td:nth-child(5) {
  text-align: right;
}

.defiDetailListTable td:nth-child(6) {
  text-align: right;
}

.defiDetailListTable td:nth-child(6) {
  text-align: right;
}

/* Mobile Locked */
@media (min-width:1035px) {
  .defiDetailListTable th:nth-child(3) {
    display: none;
  }
  .defiDetailListTable td:nth-child(3) {
    display: none;
  }
}

@media (min-width:1px) and (max-width:1034px) {
  /* .defiDetailListTable th:nth-child(2) {
    display: none;
  }
  .defiDetailListTable td:nth-child(2) {
    display: none;
  } */
  
  .defiDetailListTable th:nth-child(1) {
    width: 30%;
  }
  .defiDetailListTable td:nth-child(1) {
    width: 30%;
  }

  .defiDetailListTable th:nth-child(2) {
    width: 35%;
    display: none;
  }
  .defiDetailListTable td:nth-child(2) {
    width: 35%;
    display: none;
  }
  
  .defiDetailListTable th:nth-child(3) {
    /* display: none; */
  }
  .defiDetailListTable td:nth-child(3) {
    /* display: none; */
  }

  .defiDetailListTable th:nth-child(4) {
    display: none;
  }
  .defiDetailListTable td:nth-child(4) {
    display: none;
  }

  .defiDetailListTable th:nth-child(5) {
    /* display: none; */
  }
  .defiDetailListTable td:nth-child(5) {
    /* display: none; */
  }

  .defiDetailListTable th:nth-child(6) {
    display: none;
  }
  .defiDetailListTable td:nth-child(6) {
    display: none;
  }
}

.defiDetailListTableHead {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #757f8e;
}

.defiDetailListTableBody {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width:1px) and (max-width:1034px) {
  .defiDetailListTableHead {
    font-size: 12px;
  }
  
  .defiDetailListTableBody {
    font-size: 12px;
  }
}

/* -------------------------------- About -------------------------------- */

.aboutBox {
  width: 100%;
  /* height: 635px; */
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #171a20;
  padding: 40px;
  margin-top: 16px;
  box-sizing: border-box;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .aboutBox {
    width: 1000px;
    padding: 30px;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .aboutBox {
    width: 738px;
    padding: 30px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .aboutBox {
    width: 394px;
    padding: 30px;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .aboutBox {
    width: 320px;
    padding: 30px;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .aboutBox {
    width: 300px;
    padding: 30px;
  }
}

/* @media (min-width:1px) and (max-width:767px) {
  .aboutBox {
    width: 320px;
    padding: 30px;
  }
} */

.cosmostationLogoOnAbout {
  width: 20%;
}

@media (min-width:1px) and (max-width:1034px) {
  .cosmostationLogoOnAbout {
    width: 180px;
  }
}

.formLinkOnAbout {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.productOnAbout {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #9c6cff;
}

.productListBox {
  line-height: 1.5;
}

.productListBox span {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* -------------------------------- TheDefiList -------------------------------- */

.applyBtn {
  margin-top: 16px;
  width: 100%;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #171a20;
  padding-top: 5px;
  padding-left: 25px;
  box-sizing: border-box;
  padding-right: 25px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width:1px) and (max-width:1034px) {
  .applyBtn {
    height: 105px;
  }
}

.applyBtnUl li {
  display: inline-block;
}

.applyBtnUl li:nth-child(1) {
  width: 80%;
}

.applyBtnUl li:nth-child(2) {
  width: 20%;
  text-align: right;
}

@media (min-width:1px) and (max-width:1034px) {
  .applyBtnUl li img {
    margin-bottom: 24px;
  }
}

.applyBtnTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #f0b923;
}

.applyBtnText {
  /* font-family: Roboto; */
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.theDefiListUl li {
  /* display: inline-block; */
  display: -webkit-inline-box;
  margin-left: 10px;
  margin-top: 10px;
  width: 338px;
  height: 136px;
  border-radius: 5px;
  background-color: #20232b;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.theDefiListUl li:hover {
  background-color: #171A20;
}

/* 1,4,7,10 */
/* .theDefiListUl li:nth-child(1) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(4) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(7) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(10) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(13) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(16) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(19) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(22) {
  margin-left: 0px;
}

.theDefiListUl li:nth-child(25) {
  margin-left: 0px;
} */

.theDefiListUl li:nth-child(3n+1) {
  margin-left: 0px;
}

/* iPad Pro */
@media all and (device-width: 1024px) {
  /* .wrapper {
    width: 1000px;
    margin-left: -500px;
  } */
  .theDefiListUl li {
    /* display: inline-block; */
    margin-left: 15px;
    margin-top: 15px;
    width: 323px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
  }
}

/* iPad */
@media all and (device-width: 768px) {
  /* .wrapper {
    width: 738px;
    margin-left: -369px;
  } */
  .theDefiListUl li {
    /* display: inline-block; */
    margin-left: 15px;
    margin-top: 15px;
    width: 236px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
    font-size: 11px;
  }
}

@media (min-width:414px) and (max-width:767px) {
  /* .wrapper {
    width: 394px;
    margin-left: -197px;
  } */
  .theDefiListUl li {
    display: inline-block;
    margin-left: 0px;
    margin-top: 10px;
    width: 394px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media (min-width:360px) and (max-width:413px) {
  /* .wrapper {
    width: 320px;
    margin-left: -160px;
  } */
  .theDefiListUl li {
    display: inline-block;
    margin-left: 0px;
    margin-top: 10px;
    width: 320px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media (min-width:1px) and (max-width:359px) {
  /* .wrapper {
    width: 300px;
    margin-left: -150px;
  } */
  .theDefiListUl li {
    display: inline-block;
    margin-left: 0px;
    margin-top: 10px;
    width: 300px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
  }
}

/* @media (min-width:1px) and (max-width:767px) {
  .theDefiListUl li {
    display: inline-block;
    margin-left: 0px;
    margin-top: 10px;
    width: 320px;
    height: 140px;
    border-radius: 5px;
    background-color: #20232b;
    padding: 20px;
    box-sizing: border-box;
  }
} */

.theDefiListCardTitle {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.theDefiListCardText {
  /* font-family: Rubik-Regular; */
  font-family: "Rubik-Regular", Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #757f8e;
}

